/*font-family: 'Orbitron', sans-serif;*/
/*font-family: 'Josefin Slab', serif;*/
/*font-family: 'Rajdhani', sans-serif;*/
/*font-family: 'Source Code Pro', monospace;*/

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}

h1 {
  color: #df4d19;
  font-size: 500%;
  margin: 50px auto 0 auto;
  font-family: 'Josefin Slab', serif;
}

h2 {
  color: #df4d19;
  font-size: 2rem;
  font-weight:normal;
  font-family: 'Orbitron', serif;
  padding-bottom: 10px;
}

h3 {
  color: #df4d19;
  font-family: 'Source Code Pro', monospace;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.top-container {
  background-color: #222831;
  position: relative;
  padding-top: 100px;
  color: #faf9f9;
  margin-bottom: 80px;
}

.top-planet {
  position: absolute;
  right: 250px;
  top: 40px;
  /*top: 5%;
  right: 15%;*/
  width: 150px;
  height: 150px;
}

.bottom-planet {
  position: absolute;
  left: 200px;
  bottom: 150px;
  /*top: 40%;
  left: 20%;*/
  width: 150px;
  height: 150px;
}

.volcano {
  width: 250px;
  height: 250px;
}

.profile {
  border-radius: 100%;
}

.intro {
  width: 30%;
  margin: auto;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #df4d19;
  margin-top: 30px;
  padding: 30px 0 10px;
}

.skills {
  max-width: 100%;
  height: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skillz {
  width: 20%;
  height: 20%;
  float: left;
  margin-right: 30px;
}

.pizza {
  width: 20%;
  height: 20%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 40%;
  margin: 30px auto 60px;
}

a {
  font-size: 1.2rem;
  color: #8f1d14;
  /*color: #c82121;*/
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  font-size: 0.75rem;
  color: #faf9f9;
  margin: 12px 0 6px;
  padding: 20px 0 10px;
}

.btn {
  background: #ff9170;
  background-image: -webkit-linear-gradient(top, #ff9170, #df4d19);
  background-image: -moz-linear-gradient(top, #ff9170, #df4d19);
  background-image: -ms-linear-gradient(top, #ff9170, #df4d19);
  background-image: -o-linear-gradient(top, #ff9170, #df4d19);
  background-image: linear-gradient(to bottom, #ff9170, #df4d19);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Orbitron', serif;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 10px 6px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #adadad;
  background-image: -webkit-linear-gradient(top, #adadad, #222831);
  background-image: -moz-linear-gradient(top, #adadad, #222831);
  background-image: -ms-linear-gradient(top, #adadad, #222831);
  background-image: -o-linear-gradient(top, #adadad, #222831);
  background-image: linear-gradient(to bottom, #adadad, #222831);
  text-decoration: none;
}
